---
title:  Homepage
description:  >
  Personal Website of Dev Nath - Coder at-large.
  Software Craftsmith at Google by day, brooding painter by night.
  Rebellious dreamer, wilful Wanderer (with a doctorate in getting lost).
  Occasional Fauxtographer, with a pretty bad case of Epicurea.
keywords: >
  dev,dibyendu,nath,dnath,devnath,racelab,stochss,ucsb,cloud,
  santa barbara,google,google shopping
---
<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>

<div class="super_wrapper">
{% include header.html %}

<div class="row padding_top_20">
</div>

<div class="row">

<div class="four columns">
  <div class="image rounded">
  <img src="img/devnath.jpg" alt="{{ site.fullname }}"/>
  </div>
  <span>
    <i class="icon-mail"></i> dev . nath . cs {at} gmail . com
  </span>
  <br />
  <span>
    <a target="_blank" class="gray_link" href="https://scholar.google.com/citations?user=xnfLwIAAAAAJ&hl=en">
      <i class="icon-graduation-cap"></i> Google Scholar
    </a>
  </span>
  <div class="dont-show-me-on-phones">
    {% include twitter_timeline.html %}
  </div>
</div>

<div class="eight columns">
<article class="padding_bottom_20">
<h2>Hello, World !</h2>

<p>
Hi, I'm <strong>Dev</strong>. I work at Google. My areas of interest include
distributed system infrastructure, performance tuning and large-scale
machine learning platforms.

</p>

<h3>Bio</h3>

<p>
Dev is a Software Engineer at
<a target="_blank" class="red_glow" href="https://www.google.com">Google,</a>
based out of Mountain View, California. He works on system scalability and
performance tuning for Google Shopping Ads serving infrastructure.

He earned his MS degree in Computer Science in 2015 from the
<a target="_blank" class="red_glow" href="{{ site.ucsb_cs_url }}">CS Dept.</a> at the
<a target="_blank" class="red_glow" href="{{ site.ucsb_url }}">University of California,
Santa Barbara.</a>

At UC Santa Barbara, he worked at the
<a target="_blank" class="red_glow" href="{{ site.ucsb_racelab_url }}">RACE Lab</a>
advised by
<a target="_blank" class="red_glow" href="http://www.cs.ucsb.edu/~ckrintz/">Prof. Chandra Krintz</a>
and
<a target="_blank" class="red_glow" href="https://www.cs.ucsb.edu/~rich/">Prof. Rich Wolski.</a>
on StochSS (Stochastic Simulation as a Service).
</p>

<p>
<a target="_blank" class="red_glow" href="http://www.stochss.org">StochSS</a>
is a NIH funded project whose aim is to provide an integrated
development environment (IDE) for running discrete stochastic simulations of
biochemical networks and population systems in cloud computing environments.
Dev's contribution was a generic cloud computing framework
for configuring virtual machines and deploying arbitrary scientific simulation
programs in the cloud (public or private) by wrapping the source code as
a web service.
</p>

<p>
Dev also has been a software engineering intern
<a target="_blank" class="red_glow" href="https://www.appfolio.com">AppFolio</a>, a SaaS
startup, focused on property management vertical. At Appfolio, he worked on
property rental price prediction as a member of their data analytics team.
</p>

<p>
Prior to Google and UCSB, he worked at
<a target="_blank" class="red_glow" href="https://www.mcafee.com">McAfee</a>
on enterprise data protection products, which included transparent enforceable
encryption of files and removable media.
</p>

</article>
</div>

<div class="row">
<div class="four columns"></div>
<div class="eight columns padding_left_20 padding_top_20">
  <div class="five columns image text_center">
    <a target="_blank" href="{{ site.ucsb_url }}">
      <img src="img/ucsbwave-blue.png" alt="University of California, Santa Barbara">
    </a>
  </div>
  <div class="two columns image text_center">
    <a target="_blank" href="{{ site.ucsb_cs_url }}">
      <img src="img/ucsb_cs_logo.png" alt="UCSB Computer Science">
    </a>
  </div>
  <div class="three columns image text_center">
    <a target="_blank" href="{{ site.ucsb_racelab_url }}">
      <img src="img/racelab_logo.png" alt="RACE Lab, UC Santa Barbara">
    </a>
  </div>
</div>
</div>

{% include social_footer.html %}

</div>

{% include footer.html %}

</body>
</html>
