---
title:  Homepage
description:  >
  Personal Website of Dev Nath - Coder at-large.
  Software Craftsmith at Google by day, brooding painter by night.
  Rebellious dreamer, wilful Wanderer (with a doctorate in getting lost).
  Occasional Fauxtographer, with a pretty bad case of Epicurea.
keywords: >
  dev,dibyendu,nath,dnath,devnath,racelab,stochss,ucsb,cloud,
  santa barbara,google,google shopping
---
<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>

<div class="super_wrapper">
{% include header.html %}

<div class="row padding_top_20">
<div class="four columns">
  <div class="image rounded">
  <img src="img/devnath.jpg" alt="{{ site.fullname }}"/>
  </div>
  <span>
    <strong><i class="icon-mail"></i> dev . nath . cs {at} gmail . com</strong>
  </span>
  <span>
    <a target="_blank" class="gray_link" href="https://scholar.google.com/citations?user=xnfLwIAAAAAJ&hl=en">
      <strong><i class="icon-graduation-cap"></i> Google Scholar</strong>
    </a>
  </span>
</div>
<article class="eight columns padding_bottom_20">
<h2>Hello, World !</h2>

<p>Hi, I'm <strong>Dev</strong>.
First things first, a small intro from yours truly.
To keep it brief and simple, I'm a <strong>Software Craftsmith</strong> ...
half <em>Java Junkie,</em> half <em>C++ worshipper</em> and (sic:)
one-third <em>Pythonista</em> with a dash of <em>Ruby.</em></p>

<h3>Bio</h3>

<p>I'm a Software Engineer at
<a class="red_glow" href="https://www.google.com">Google,</a>
based out of Mountain View, California, working on Google Shopping Ads Serving
infrastructure. A few years before, I was a graduate student at the
<a class="red_glow" href="{{ site.ucsb_url }}">University of California, Santa Barbara,</a>
pursuing a Master's in <a class="red_glow" href="{{ site.ucsb_cs_url }}">Computer Science.</a>
I was working in <a class="red_glow" href="{{ site.ucsb_racelab_url }}">RACE Lab</a>,
advised by <a class="red_glow" href="http://www.cs.ucsb.edu/~ckrintz/">Prof. Chandra Krintz</a>
and <a class="red_glow" href="https://www.cs.ucsb.edu/~rich/">Prof. Rich Wolski.</a>
Before that, I was a Software Engineering Intern at
<a class="red_glow" href="https://www.appfolio.com">AppFolio,</a>
working on their data analytics team.
</article>
</div>

<!-- Twitter and logos -->
<div class="row">
{% include twitter_timeline.html %}
<div class="eight columns padding_left_20 padding_top_20">
  <div class="five columns image text_center">
    <a target="_blank" href="{{ site.ucsb_url }}">
      <img src="img/ucsbwave-blue.png" alt="University of California, Santa Barbara">
    </a>
  </div>
  <div class="two columns image text_center">
    <a target="_blank" href="{{ site.ucsb_cs_url }}">
      <img src="img/ucsb_cs_logo.png" alt="UCSB Computer Science">
    </a>
  </div>
  <div class="three columns image text_center">
    <a target="_blank" href="{{ site.ucsb_racelab_url }}">
      <img src="img/racelab_logo.png" alt="RACE Lab, UC Santa Barbara">
    </a>
  </div>
</div>
</div>

{% include social_footer.html %}

</div>

{% include footer.html %}

</body>
</html>
