---
title:  Projects
description:  >
  Projects | Dev Nath, Coder at-large. Software Craftsmith at Google.
  Half Java Junkie, half C++ worshipper and (sic:) one-third Pythonista with
  a dash of Ruby. Recent Grad from UC Santa Barbara. Go Gauchos!
keywords: >
  dev,dibyendu,nath,dnath,devnath,racelab,stochss,ucsb,google,
  appfolio,mcafee,eeff,encryption,cloud,santa barbara
---
<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>

<div class="super_wrapper">
{% include header.html %}

<div class="row padding_top_20">

{% include google.html %}
{% include appfolio.html %}
{% include stochss.html %}
{% include mcafee.html %}

</div>

{% include social_footer.html %}

</div>

{% include footer.html %}

</body>
</html>
