* {
  margin: 0;
  padding: 0;
  background-color: #fefdfb;
}

:root {
  /* color-scheme: light dark; */
}

.info {
  width: 100%;
}

.article-info h2 {
  padding: 30px 30px 20px;
  font-family: serif;
  font-size: 45px;
  line-height: 40px;
}

.article-info h3 {
  padding: 10px 30px 20px;
  font-family: serif;
  font-size: 24px;
  line-height: 20px;
}

.article-info p {
  padding: 0px 30px 20px;
  font-family: serif;
  font-size: 16px;
  line-height: 22px;
}

.article-info ul {
  padding: 0px 30px 20px;
  margin-left: 15px;
}

.img-me {
  padding: 20px 0px 0px;
  width: 100%;
}

.site-footer {
  padding: 40px 30px 30px;
  font-family: serif;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  text-align: center;
  clear: both;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .info {
    width: 600px;
    margin: 0 auto;
  }

  .article-info h2 {
    padding: 30px 0px 0px;
  }

  .article-info h3 {
    padding: 20px 0px 0px;
  }

  .article-info p {
    padding: 20px 0px 0px;
  }

  .article-info ul {
    padding: 20px 0px 0px;
  }

  .img-me {
    padding: 30px 0px 0px;
  }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
  .info {
    width: 1000px;
    margin: 0 auto;
  }

  .article-info {
    width: 60%;
    float: right;
  }

  .article-info h2 {
    padding: 30px 0px 0px 30px;
  }

  .article-info h3 {
    padding: 20px 0px 0px 30px;
  }

  .article-info p {
    padding: 20px 0px 0px 30px;
  }

  .article-info ul {
    padding: 20px 0px 0px 30px;
  }

  .img-me {
    padding: 30px 0px 0px;
    width: 40%;
    float: left;
  }
}
