<div class="row padding_top_40">
<div class="three columns image rounded text_center">
  <img src="img/af_apm.png" alt="AppFolio Property Manager"/>
  <div class="padding_top_20">
    <h5 class="text_center">
      <a class="default_color red_glow" href="http://www.appfolio.com/">
      <i class="icon-globe"></i>AppFolio Inc.
      </a>
    </h5>
  </div>
</div>
<article class="nine columns">
  <div class="row">
    <h3><strong>AppFolio RentMatch:</strong> Pricing Analytics</h3>
    <h5>Software Engineering Intern, Data Science team, <a class="red_glow" href="http://www.appfolio.com">AppFolio Inc.</a></h5>
    <h6>June 2014 - September 2014</h6>
  </div>
  <div class="padding_top_10">
    <p>AppFolio provides a web-based Property Management SaaS solution designed to help professional property managers to market and manage their portfolios.</p>

    <ul class="square">
      <li>
      Worked in AppFolio’s Pricing Analytics (Data Science) team on finding Rental Unit Similarity using machine learning methods based on features like amenities, associated text, school districts, location, linked census data, etc, extracted from customer data.
      <li>
        Built <strong>Super Squirrel,</strong> a <em>MapReduce</em> like framework for collecting and processing data, distributed across AppFolio’s data centers.
      </li>
      <li>
        Developed a Google Glass App <strong>Eyepatch,</strong> as a 24-hr hackathon project for making voice activated property inspections using AppFolio's services as backends.
      </li>
    </ul>
  </div>
</article>
</div>