<div class="row">
<div class="three columns image rounded text_center">
  <img src="img/google_logo.gif" alt="Google"/>
  <div style="padding-top:0px">
    <h5 class="text_center">
      <a class="default_color red_glow" href="http://www.google.com/">
        <i class="icon-globe"></i>Google Inc.
      </a>
    </h5>
  </div>
</div>
<article class="nine columns">
  <div class="row">
    <h3><strong>Google Shopping Ads:</strong> Serving Infrastructure</h3>
    <h5>Software Engineer, <a class="red_glow" href="http://www.google.com">Google Inc.</a></h5>
    <h6>August 2015 - Present</h6>
  </div>
  <div class="padding_top_10">
    <p>Member of the development team for Google Shopping Ads Serving Infrastructure.</p>
</div>
</article>
</div>