<!--navbar-->
<div class="navcontain">
  <div class="navbar" gumby-fixed="top" id="nav1">
  <div class="row">
    <a class="toggle" gumby-trigger="#nav1 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="four columns logo">
      <a href="{{ site.url }}">
      <img alt="Dev Nath" src="img/devnath_logo.png" gumby-retina="">
      </a>
    </h1>
  </div>
  </div>
</div>

<!--social-->
<div class="wrapper shaded">
<div class="row">
  <div class="metro btn default rounded pull_left">
    <a href="{{ site.resume_url }}">Resume <i class="icon-download"></i></a>
  </div>
  <div class="metro btn instagram pull_right">
    <a target="_blank" href="https://plus.google.com/u/0/{{ site.instagram_username }}">
      <i class="social icon-instagram"></i><span class="hide">Instagram | {{ site.fullname }}</span>
    </a>
  </div>
  <div class="metro btn linkedin pull_right">
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_handle }}">
      <i class="social icon-linkedin"></i><span class="hide">LinkedIn | {{ site.fullname }}</span>
    </a>
  </div>
  <div class="metro btn twitter pull_right">
    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
      <i class="social icon-twitter"></i>
      <span class="hide">Twitter | {{ site.fullname }} : @{{ site.twitter_username }}</span>
    </a>
  </div>
</div>
</div>