<meta charset="utf-8">

<!-- Use the .htaccess and remove these lines to avoid edge case issues.
     More info: h5bp.com/b/378 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>{{ site.fullname }} | {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="author" content="humans.txt">

<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

<!-- Facebook Metadata /-->
<meta property="fb:page_id" content="">
<meta property="fb:admins" content="100001639762906" />
<meta property="og:image" content="{{ "img/devnath.jpg" | absolute_url }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:title" content="{{ site.fullname }} | {{ page.title }}">

<meta itemprop="name" content="{{ site.fullname }} | {{ page.title }}">
<meta itemprop="description" content="{{ page.description }}">
<meta itemprop="image" content="{{ "img/devnath.jpg" | absolute_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<link rel="stylesheet" href="bower_components/gumby/css/gumby.css">

<script src="bower_components/gumby/js/libs/modernizr-2.6.2.min.js"></script>

<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
