<div class="row padding_top_40">
<div class="three columns image rounded text_center">
  <img src="img/mcafee_cdd.png" alt="McAfee Complete Data Protection, formerly known as Endpoint Encryption for Files & Folders"/>
  <div class="padding_top_20">
    <h5 class="text_center">
      <a class="default_color red_glow" href="http://www.mcafee.com/us/products/complete-data-protection.aspx"><i class="icon-globe"></i>McAfee Complete Data Protection</a>
    </h5>
    <h6 class="text_center">Formerly known as <br/>McAfee EEFF</h6>
  </div>
</div>
<article class="nine columns">
  <div class="row">
    <h3><strong>McAfee Endpoint Encryption for Files &amp; Folders</strong></h3>
    <h5>Software Development Engineer, EEFF team, <a class="red_glow" href="http://www.mcafee.com">McAfee Inc. (<i>aka</i> Intel Security)</a></h5>
    <h6>February 2012 - August 2013</h6>
  </div>
  <div class="padding_top_10">
    <p>EEFF, now part of McAfee Complete Data Protection is an enterprize encryption product for Windows endpoints, controlled by McAfee ePO servers. It intercepts read/write calls to the file system using a filter driver and encrypts/decrypts data according to policies set.</p>

    <ul class="square">
      <li>
        Worked on releases 3.2.9, 4.1 &amp; 4.2 – contributed to client-side (including filter driver development) as well as server-side ePO management codebase.
      <li>
        Developed <strong>'Kill Pill'</strong> Proof of Concept – remote deactivation and secure wiping of encrypted USB devices (EERM: endpoint encryption for removable media).
      </li>
      <li>
        Other features developed include <strong>Key Cache Expiry,</strong> code overhaul for <strong>FIPS 140-2</strong> encryption standard compliance, Role-Based Key Management, enhanced encrypted removable media recovery, etc.
      </li>
    </ul>
  </div>
</article>
</div>