<!-- social footer -->
<div class="row">
<div class="text_center social_footer_box">
<a target="_blank" class="social_footer" href="https://twitter.com/{{ site.twitter_username }}">
  <i class="icon-twitter no_margin"></i>Twitter<span class="hide">Twitter | {{ site.fullname }}</span>
</a> |
<a target="_blank" class="social_footer" href="https://www.facebook.com/{{ site.facebook_username }}">
  <i class="icon-facebook-squared no_margin"></i>Facebook<span class="hide">Facebook | {{ site.fullname }}</span>
</a> |
<a target="_blank" class="social_footer" href="https://www.linkedin.com/in/{{ site.linkedin_handle }}">
  <i class="icon-linkedin no_margin"></i>LinkedIn<span class="hide">LinkedIn | {{ site.fullname }}</span>
</a> |
<a target="_blank" class="social_footer" href="https://github.com/{{ site.github_username }}">
  <i class="icon-github no_margin"></i>Github<span class="hide">GitHub | {{ site.fullname }}</span>
</a> |
<a target="_blank" class="social_footer" href="https://plus.google.com/u/0/{{ site.gplus_handle }}">
  <i class="icon-gplus no_margin"></i>Google+<span class="hide">Google+ | {{ site.fullname }}</span>
</a> |
<a target="_blank" class="social_footer" href="https://www.instagram.com/{{ site.instagram_username }}">
  <i class="icon-instagram no_margin"></i>Instagram<span class="hide">Instagram | {{ site.fullname }}</span>
</a>
</div>
</div>

<!-- padding for footer -->
<div class="row footer_padding"></div>