<div class="row padding_top_40">
<div class="three columns image rounded text_center">
  <img src="img/stochss.png" alt="StochSS | Stochastic Simulation As a Service"/>
  <div class="padding_top_20">
    <h5 class="text_center">
      <a class="default_color red_glow" href="http://www.stochss.org/">
        <i class="icon-globe"></i>StochSS.org
      </a>
    </h5>
    <h5 class="text_center">
      <a class="default_color red_glow" href="https://github.com/stochss/stochss">
        <i class="icon-github"></i>github.com/stochss
      </a>
    </h5>
  </div>
</div>
<article class="nine columns">
  <div class="row">
    <h3><strong>StochSS:</strong> Stochastic Simulation as a Service</h3>
    <h5>Advisors: <a class="red_glow" href="http://www.cs.ucsb.edu/~ckrintz">Prof. Chandra Krintz,</a>
      <a class="red_glow" href="http://www.cs.ucsb.edu/~rich">Prof. Rich Wolski</a></h5>
    <h6>
      <a class="default_color red_glow" href="{{ site.ucsb_racelab_url }}">RACE Lab,</a>
      <a class="default_color red_glow" href="{{ site.ucsb_url }}">UC Santa Barbara</a></h6>
  </div>
  <div class="padding_top_10">
    <p>StochSS is a NIH funded project whose aim is to provide an integrated development environment (IDE) for running discrete stochastic simulations of biochemical networks and population systems in cloud somputing environments.
    [<a class="red_glow" href="{{ site.stochss_pub_url }}"> publication </a>]</p>

    <ul class="square">
      <li>Built a generic cloud computing framework for configuring virtual machines and auto-deploying/managing arbitrary scientific simulation programs in the cloud by wrapping the source code as a web service.</li>

      <li>Developed Flex Cloud, a lightweight cloud service abstraction layer for supporting simulation runs over different infrastructures (physical, virtual, as well as public or private clouds).</li>
    </ul>
</div>
</article>
</div>